#myBtnContainer {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filter-tab {
    border: none;
    background: transparent;
}

.filter__tab-btn {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15rem;
}

.filter {
    list-style-type: none;
}

.underbar {
    width: 0;
    height: 5px;
    background: rgba(100,100,200,0);
    //left: -50px;
    top: .125rem;
    position: relative;
    transition: 0.5s ease;
}

.active .underbar {
	width: 100%;
}

.filter-tab {
    float: left;
    margin: 0 .25rem;
    padding: 1rem .75rem;
    text-align: center;

    &:hover {
        // color: red;
        transition: .5s ease-in;
    }

    &:hover ~ #video {
        color: rgb(219, 139, 46);
    }
    cursor: pointer;
}

.filter__category {
    transition: .25s ease-in;

    &:hover ~ .underbar {
        width: 100%;
    }

    &:active,
    &:visited {
        width: 100%;
    }
}

//category colours

#elearning:hover, .active #elearning {
    color: $accent-elearning;

    &~ .underbar {
        background: $accent-elearning;
    }

}

#motion:hover, .active #motion {
    color: $accent-motion;

    &~ .underbar {
        background: $accent-motion;
    }
}

#new-media:hover, .active #new-media {
    color: $accent-new-media;

    &~ .underbar {
        background: $accent-new-media;
    }
}

#print:hover, .active #print {
    color: $accent-print;

    &~ .underbar {
        background: $accent-print;
    }
}

#web:hover, .active #web {
    color: $accent-web;

    &~ .underbar {
        background: $accent-web;
    }
}




.projects--category-description {
    text-align: center;
    padding-bottom: $padding;
	margin: 0 15%;
}
