.footer {
    display: inline-block;
    background-color: $colour-dark-grey;
    height: 15%;
    width: 100%;
}

.footer__text {
    color: $colour-white;
    font-size: .5rem;
    font-weight: 200;
    text-align: center;
    vertical-align: text-bottom;

}